/* MOBILE */
@media (max-width: 925px) {

    body{
        background: url(/assets/img/miel2.jpg);
        
    }


    header{
        background-color: #efdc30;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;

    }

    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    
    .logo-img-phone{
        width: 30px;
        height: 30px;


    }

    .open-menu-user img{
        width: 30px;
        height: 30px;


    }


    .open-menu-user{
        border: none;
        background: none;
    }


    .open-menu{
        border: none;
        background: none;
    }

    .open-menu img{
        width: 30px;
        height: 30px;
        
    }

    .open-cart-menu{
        border: none;
        background: none;
    }

    .open-cart-menu img{
        width: 30px;
        height: 30px;


    }

    .menu-hamburger{
        position: fixed;
        width: 100%;
        top: 0;
        bottom: 0;
        right: -100%;
        background-color: transparent;
        transition: .5s right;
        transition: 1s background-color;

    }

    .menu-hamburger.is-active{
        right: 0;

    }

    .menu-hamburger-nav{
        position: absolute;
        top: 0;
        width: 200px;
        right: -200px;
        bottom: 0;
        background: url(/assets/img/fondo-menu-2.webp)  ;
        box-shadow: 0 3px 15px rgba( 0, 0, 0, .25);
        transition: .6s;

    }

    .menu-hamburger.is-active .menu-hamburger-nav{
        right: 0;
        
    }

    .menu-hamburger-list-items{
        list-style: none;
        margin: 0;
        padding: 0;

    }

    .menu-hamburger-list-items a{
        width: 100%;
        height: 32px;
        line-height: 32px;
        box-sizing: border-box;
        padding: 8px 12px;
        text-transform: uppercase;
        text-decoration: none;
        display: block;
        color: black;
        transition: .3s;

    }

    .menu-hamburger-list-items a:hover{
        background-color: #1a237e;
        color: #e8eaf6;


    }

    #hero{
        display: flex;
        flex-direction: column;
        width: 300px;
    }

    .info-landing{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .text-landing h1{
        width: 50px;
        font-size: 35px;
        font-family: 'Lemonada', cursive;
        font-weight: 400;

    }

    .text-landing span{
        margin-left: 20px;
    }

    .text-landing p{
        margin-right: 100px;
        margin-left: 20px;
        font-size: 15px;
        font-family: 'Open Sans', sans-serif;

    }

    .social-landing img{
        width: 20px;
        height: 20px;
    }

    .landing-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 70px;
    }

    .landing-btn button{
        width: 100px;
        height: 30px;
        text-align: center;
        font-size: 13px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        background: #fffc00;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ffffff, #fffc00);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ffffff, #fffc00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        border: none;
        border-radius: 1rem;
        
    }
    
}